.playlistTitle{
    margin-bottom: 18px;
    height: 56px;
    width: 280px;
    font-size: 38px;
    color: white;
}

.Home{
    margin-left: 40px;
    margin-top: 40px;
    max-width: 1540px;
}

.playlists{
    display: flex;
    flex-wrap: wrap;
}

.topPlaylistTitle{
    margin-top: 60px;
    height: 56px;
    width: 280px;
    font-size: 38px;
    color: white;
}

.topPlaylists{
    display: flex;
    flex-wrap: wrap;
}
